/************ Start Media Query ***********/

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    font-size: 25px;
    color: var(--fontColor);
    padding-left: 20px;
  }

  nav #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    /* to hide nav in right side  */
    right: -300px;
    /* for show nav in full height */
    height: 100vh;
    width: 300px;
    background-color: var(--primaryColor);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: all 0.3s;
  }

  nav #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--hColor);
    font-size: 25px;
  }
  #lg-bag {
    display: none;
  }
  /*///////////// hero //////////////*/
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  /*///////////// feature //////////////*/
  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }
  /*///////////// product1 //////////////*/
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px 15px;
  }
  /*///////////// banner //////////////*/
  #banner {
    height: 20vh;
  }

  /*///////////// sm-banner //////////////*/
  #sm-banner {
    justify-content: center;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  /*///////////// banner3 //////////////*/
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }

  /*///////////// newsletter //////////////*/
  #newsletter p {
    margin-bottom: 15px;
  }
  #newsletter .form {
    width: 70%;
  }
  #prodetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
  }
  /*** contact page***/

  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }

  #form-details .people {
    width: 39%;
  }
}

/* for mobile responsive */

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 30px;
    background-position: 55%;
  }
  #hero h2 {
    font-size: 30px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  .section-p2 {
    padding: 20px;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 15px 20px;
  }
  footer .copyright {
    text-align: start;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }

  /* blog page */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }
  /* about page*/
  #waw {
    flex-direction: column;
  }
  #waw .waw-img {
    width: 100%;
  }
  #waw .waw-details {
    width: 100%;
    margin-left: 0px;
    padding-top: 15px;
    text-align: start;
  }
  #download .download-vid {
    width: 100%;
  }
  /*** contact page***/
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 4rem;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    /* flex-direction: column;  */
    /* OR */
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 4rem;
  }
  #form-details .people {
    width: 100%;
  }
  #form-details {
    margin: 30px;
    padding: 40px 20px;
    border-radius: 10px;
  }
  /* cart page */
  #cart-add {
    flex-direction: column;
  }
  #cart-add .coupon {
    width: 100%;
  }
  #cart-add .coupon input {
    width: 70%;
  }
  #cart-add .subtotal {
    width: 100%;
    padding: 20px;
  }
}
