/************** Start Global Style ************/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --hColor: #222;
  --primaryColor: #E3E6F3;
  --secondaryColor:#088178;
  --Shadow1: rgba(0,0,0,0.06);
  --Shadow2: rgba(0,0,0,0.03);
  --Shadow3: rgba(70,62,221,0.01);
  --Shadow4: rgba(0,0,0,0.02);
  --fontColor:#1A1A1A;
  --fontColor2:#606063;
  --fontColor3:#818ea0;
  --borderColor:#CCE7d0;
  --yellowColor:rgb(243,181,25);
  --yellowColor2:#FFDB27;
  --whiteColor:#FFF;
  --RedColor:#EF3636;
  --RedColor2:#EC5442;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--hColor);
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--hColor);
}
h4 {
    font-size: 20px;
    color: var(--hColor);
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
/* Default Paddin Section */
.section-p1{
    padding: 40px 80px;
}
.section-p2{
    padding: 60px 80px;
}
/* Default Margin Section */
.section-m1{
    margin: 40px 0;
}
/* default button */
button.normal{
    border: none;
    outline: none;
    padding: 15px 30px;
    background-color: var(--whiteColor);
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    transition: .2s;
}
button.bgwhite{
    border: 1px solid var(--whiteColor);;
    outline: none;
    padding: 11px 18px;
    background-color: transparent;
    color: var(--whiteColor);
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: .2s;
}
body {
    width: 100%;
}

/************** End Global Style ************/

/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px var(--Shadow1);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
    background-color: var(--primaryColor);
}
#mobile{
    display: none;
    align-items: center;
}
nav #navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}


#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--fontColor);
    transition:.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:var(--secondaryColor);
}

#navbar li a.active::after,
#navbar li a:hover::after{
   content: "";
   height: 2px;
   width: 30%;
   background-color: var(--secondaryColor);
   position: absolute;
   bottom: -4px;
   left: 20px;
   border-radius: 2px;
}
#close{
  display: none;
}
/* ************************************ Home Page **************************************/
/* *********** Start Hero Section ***********/
#hero{
    background-image: url("/img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: var(--secondaryColor);
}

#hero button{
    background-image: url("/img/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    outline-style: none;
    padding: 14px 80px 14px 65px;
    color: var(--secondaryColor);
    cursor: pointer;
    margin-top: 20px;
    transition: .2s;
}

#hero button:hover{
    color: var(--fontColor);
}
/************ Start Feature Section ***********/

#feature{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    box-shadow: 20px 20px 34px var(--Shadow2);
    margin:15px 0;
    cursor: pointer;
    
}
#feature .fe-box img{
    /* because our website is responsive */
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px var(--Shadow3);
}

#feature .fe-box h6{ 
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    line-height: 1rem;
    color: var(--secondaryColor);

}

#feature .fe-box:nth-child(1) h6{
   
    background-color: #FDDDE4;

}
#feature .fe-box:nth-child(2) h6{
   
    background-color: #CDEBBC;

}
#feature .fe-box:nth-child(3) h6{
  
    background-color: #D1E8F2;

}
#feature .fe-box:nth-child(4) h6{
  
    background-color: #CDD4F8;

}
#feature .fe-box:nth-child(5) h6{
   
    background-color: #F6DBF6;

}
#feature .fe-box:nth-child(6) h6{
     
    background-color: #FFF2E5;

}

/************ Start Products Section ***********/
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--borderColor);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px var(--Shadow4);
    margin: 15px 0;
    transition: .2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px var(--Shadow1);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color:var(--fontColor2);
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: var(--fontColor);
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color:var(--yellowColor);
}

#product1 .pro .des h4{
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
    color: var(--secondaryColor);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    color: var(--secondaryColor);
    font-weight: 500;
    position: absolute;
    border: 1px solid var(--borderColor);
    bottom: 15px;
    right: 15px;
}

#product1 .pro .cart:hover{
 background-color: var(--secondaryColor);
    color: #e8f6ea;
    border:none
}

/************ Start Banner Section ***********/
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
    background-image: url("/img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;  
}

#banner h4{
    font-size: 16px;
    color: var(--whiteColor);
}

#banner h2{
    font-size: 30px;
    color: var(--whiteColor);
    padding: 10px 0;
}

#banner h2 span{
    color :var(--RedColor);
}

#banner button:hover{
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
}

/************ Start sm-banner Section ***********/
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("/img/banner/b17.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 49%;
    height: 50vh; 
    padding: 30px;  
}
#sm-banner .banner-box2{
    background-image: url("/img/banner/b10.jpg");
}
#sm-banner h4{
    font-size: 20px;
    font-weight: 300;
    color: var(--whiteColor);
}
#sm-banner h2{
    font-size: 28px;
    font-weight: 800;
    color: var(--whiteColor);
}
#sm-banner span{
    font-size: 14px;
    font-weight: 500;
    color: var(--whiteColor);
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: var(--secondaryColor);
    border: 1px solid  var(--secondaryColor); 
}

/************ Start banner3 Section ***********/
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("/img/banner/b7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30%;
    height: 30vh; 
    padding: 20px;  
    margin-bottom: 20px;
}
#banner3 .banner-box2{
     background-image: url("/img/banner/b4.jpg");
}
#banner3 .banner-box3{
     background-image: url("/img/banner/b18.jpg");
}
#banner3 h2{ 
 color: var(--whiteColor);
 font-size: 22px;
 font-weight: 900;
}
#banner3 h3{ 
 color: var(--RedColor2);
 font-size: 18px;
 font-weight: 800;
}

/************ Start newsletter Section ***********/
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    background-image: url("/img/banner/b14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: var(--whiteColor);
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: var(--fontColor3);
    padding-top: 10px;
}

#newsletter span{
    color: var(--yellowColor2);
}

#newsletter .form{
    display: flex;
    width: 30%;
}

#newsletter input{
    height: 3.125rem;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
    padding: 0 1.25em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
     border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
 
}

 #newsletter button{
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} 

/************ Start footer Section ***********/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 80px 15px 80px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin:0 0 8px 0;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 10px;
    color: #222;
    transition: .2s;
}
footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 4px;
    color: #465b52;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

footer .follow i:hover,
footer a:hover{
    color: var(--secondaryColor);
 
}
footer .install h4{
    margin-top: 20px;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}

footer .install .row img{
    margin: 10px 0 10px 0;

}

footer .copyright{
    width: 100%;
    text-align: center;
}


/************ Start Media Query ***********/

@media (max-width:799px) {
    .section-p1 {
	padding: 40px 40px;
}
    #mobile{
       display: flex;
       align-items: center;
      
    }
    #mobile i{
        font-size: 25px;
        color: var(--fontColor);
        padding-left: 20px;
    }
    
    nav #navbar {
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    justify-content: flex-start;
    position: fixed;
    top: 0;
    /* to hide nav in right side  */
    right: -300px; 
    /* for show nav in full height */
    height: 100vh;
    width: 300px;
    background-color: var(--primaryColor);
    box-shadow: 0 40px 60px rgba(0,0,0,0.01);
    padding: 80px 0 0 10px;  
    transition: all .3s; 
}

nav #navbar.active{
    right: 0px; 
}
#navbar li{
    margin-bottom: 25px;
}
#close{
    display: initial;
    position: absolute;
    top:30px;
    left: 30px;
    color: var(--hColor);
    font-size: 25px;
}
#lg-bag{
    display: none;
}
/*///////////// hero //////////////*/
#hero {
	
	height: 70vh;
	padding: 0 80px;
    background-position: top 30% right 30%;
	
}
/*///////////// feature //////////////*/
#feature {
	justify-content: center;
}

#feature .fe-box {
	margin: 15px 15px;

}
/*///////////// product1 //////////////*/
#product1 .pro-container {

	justify-content: center;
	
}
#product1 .pro {
	margin: 15px 15px;
}
/*///////////// banner //////////////*/
#banner {
	height: 20vh;
}

/*///////////// sm-banner //////////////*/
#sm-banner {
	justify-content: center;
}
#sm-banner .banner-box {	
	min-width: 100%;
	height: 30vh;
    margin-bottom: 20px;
}

/*///////////// banner3 //////////////*/
#banner3 {
	padding: 0 40px;
}
#banner3 .banner-box {
	width: 28%;
}

/*///////////// newsletter //////////////*/
#newsletter p {
	margin-bottom: 15px;
}
#newsletter .form {	
	width: 70%;
}

}

/* for mobile responsive */

@media (max-width:477px) {
    .section-p1 {
	padding: 20px;
}
    #header {
	padding: 10px 30px;
}
#hero {
	padding: 0 30px;
	background-position: 55%;
}
#hero h2 {
	font-size: 30px;
}
#hero h1 {
	font-size:38px;
}
#feature {
	justify-content: space-between;
}
#feature .fe-box {
	width: 155px;
	margin: 0 0 15px 0;
}
#product1 .pro {
	width: 100%;
}
#banner {
	height: 40vh; 
}
#sm-banner .banner-box {
	height: 40vh;
}
#banner3 {
	padding: 0 20px;
}
#banner3 .banner-box {
	width: 100%;	
}
.section-p2 {
	padding: 20px;
}
#newsletter {
	padding: 40px 20px;
}
#newsletter .form {
	width: 100%;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 20px 15px 20px;
}
footer .copyright {
	text-align: start;
}
}

/*###################### SHOP PAGE #############################*/

#page-header{
    width: 100%;
    height: 40vh;
    background-image: url(/img/banner/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    padding: 14px; 
}

#page-header h2,
#page-header p{
    color: var(--whiteColor);
}
